{% extends "pages/article.html" %}
{% load static %}

{% block title %}Shrimpy leaders for Binance.us clients{% endblock %}

{% block content %}
  <h2>What is the difference between Binance.com and Binance.us?</h2>
  <p>
    Binance clients based in the US have a special Binance platform that is hosted on Binance.us.
    If you're a US citizen, you <strong>must</strong> register on Binance.us.
    Binance.com is reserved for non US citizens.
  </p>
  <p>
    That app is very similar and is fine for pretty much any usage.
    It complies with the US regulation and must be used when you are a US citizen. There is no point of tricking it.
    Some diffences are that Binance.com include <em>Futures</em> and <em>Leverage</em> tradings. that are not authorized on Binance.us.
  </p>

  <h2>What is the issue with Binance.us for Shrimpy users?</h2>
  <p>
    When it comes to Shrimpy it's a slighly diffent thing.
    Shrimpy has a very interesting social feature that offers a user to follow a leader.
    A leader is a Shrimpy client that has some specific features: it can be followed and the follower will copy the leader's portfolio, all it's cryptos respecting it's balance and updating in real-time when the leaders changes with the market.
  </p>
  <p>
    A Binance.us client on Shrimpy can follow other Binance.us leaders. The issue is that there's almost none. At least all the best leaders are on Binance.com!
  </p>
  <p>
    Most US clients in the US would fake their location using a VPN.
    However that has some very major counterparts:
  </p>
  <ul>
    <li>That a violation to Binance policy. Violating Binance policy may lead to closing your account with no way to access your crypto again and losing your money…</li>
    <li>Registering to Binance.com when you are a US citizen won't pemit you to fulfill the KYC (Know your customer is a process of registrering your identity to the exchange). Without fulfilling the KYC you will not gain access to some features such as depositing or withdrawing Fiat currencies. (Note that you can still use Cryptogram's services to deposit Fiat and buy crypto currrencies).</li>
  </ul>

  <h2>How to follow best Shrimpy leaders with a Binance.us account?</h2>
  <p>
    You should already have a paid account on Shrimpy and register an account on Cryptogram.
    Cryptogram will need an API key to connect to your Shrimpy account.
  </p>

  <h3>Create a Shrimpy API key</h3>
  <p>
    On the Shrimpy website, go to <em>Settings</em> and create a new public and private API key pair.
    Visit your account on Cryptogram and insert these API keys in your Shrimpy account.
  </p>
  <blockquote>
    Note that these keys are secured by design. They only permit to rebalance your coins and not to deposit nor withdraw.
    For security reasons you should never provide keys that permit withdrawal to an untrusted third party application.
  </blockquote>

  <p>
    Once your API keys are stored you will be able to view your Shrimpy account on Cryptogram.
    You should then credit your account in order to buy some <em>dynos</em>.
  </p>

  <h3>Follow any Shrimpy leader from Binance.us</h3>
  <p>
    If you followed the previous step carefully you should have an account connected to Shrimpy with credit ready for <em>dynos</em>.
  </p>
  <p>
    Dynos are processors that you rent and that follow a Shrimpy leader. When a leader has made some new research and buys or sells some cryptos, he will update his portfolio. your portfolio will be rebalanced accordingly.
    In the near future dynos will also be able to skim your profits into a stable coin and secure them. In other words it will take profit automatically once it reaches a level that you determine.
  </p>
  <p>
    Do you want to make profit following the best leaders on Shrimpy? Well, you're ready now to just hop on and enjoy the ride just like our other great users!
  </p>
{% endblock %}
